In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
file_one = "CitiBikeSummer2018_2019.csv"

In [3]:
cbsummer = pd.read_csv(file_one)

In [4]:
cbsummer.shape

(12494563, 17)

In [5]:
# Preview of the DataFrame
cbsummer.head()

,Number of Records,Table Name,Bikeid,Birth Year,End Station Id,End Station Latitude,End Station Longitude,End Station Name,Gender,Start Station Id,Start Station Latitude,Start Station Longitude,Start Station Name,Starttime,Stoptime,Tripduration,Usertype
0,1,201806-citibike-tripdata.csv,30632,1990,3226.0,40.782750,-73.971370,W 82 St & Central Park West,2,168.0,40.739713,-73.994564,W 18 St & 6 Ave,6/24/2018 4:05:23 PM,6/24/2018 4:40:40 PM,2117,Subscriber
1,1,201806-citibike-tripdata.csv,17395,1988,497.0,40.737050,-73.990093,E 17 St & Broadway,1,168.0,40.739713,-73.994564,W 18 St & 6 Ave,6/24/2018 4:09:17 PM,6/24/2018 4:19:17 PM,600,Subscriber
2,1,201806-citibike-tripdata.csv,26926,1974,509.0,40.745497,-74.001971,9 Ave & W 22 St,2,168.0,40.739713,-73.994564,W 18 St & 6 Ave,6/24/2018 4:19:51 PM,6/24/2018 4:28:17 PM,505,Subscriber
3,1,201806-citibike-tripdata.csv,32989,1987,146.0,40.716250,-74.009106,Hudson St & Reade St,1,168.0,40.739713,-73.994564,W 18 St & 6 Ave,6/24/2018 4:22:18 PM,6/24/2018 4:56:56 PM,2077,Subscriber
4,1,201806-citibike-tripdata.csv,33107,1980,146.0,40.716250,-74.009106,Hudson St & Reade St,0,168.0,40.739713,-73.994564,W 18 St & 6 Ave,6/24/2018 4:22:35 PM,6/24/2018 4:57:08 PM,2073,Subscriber

In [6]:
# Identify incomplete rows
cbsummer.count()

Number of Records          12494563
Table Name                 12494563
Bikeid                     12494563
Birth Year                 12494563
End Station Id             12493032
End Station Latitude       12494563
End Station Longitude      12494563
End Station Name           12493032
Gender                     12494563
Start Station Id           12493032
Start Station Latitude     12494563
Start Station Longitude    12494563
Start Station Name         12493032
Starttime                  12494563
Stoptime                   12494563
Tripduration               12494563
Usertype                   12494563
dtype: int64

In [10]:
# Drop all rows with missing information
cbsummer = cbsummer.dropna(how='any')

In [11]:
cbsummer.count()

Number of Records          12493032
Table Name                 12493032
Bikeid                     12493032
Birth Year                 12493032
End Station Id             12493032
End Station Latitude       12493032
End Station Longitude      12493032
End Station Name           12493032
Gender                     12493032
Start Station Id           12493032
Start Station Latitude     12493032
Start Station Longitude    12493032
Start Station Name         12493032
Starttime                  12493032
Stoptime                   12493032
Tripduration               12493032
Usertype                   12493032
dtype: int64

In [12]:
cbsummer.dtypes

Number of Records            int64
Table Name                  object
Bikeid                       int64
Birth Year                   int64
End Station Id             float64
End Station Latitude       float64
End Station Longitude      float64
End Station Name            object
Gender                       int64
Start Station Id           float64
Start Station Latitude     float64
Start Station Longitude    float64
Start Station Name          object
Starttime                   object
Stoptime                    object
Tripduration                 int64
Usertype                    object
dtype: object

In [13]:
cbsummer['Starttime'].value_counts()

6/11/2018 6:45:44 PM     12
8/6/2019 6:08:49 PM      12
8/8/2019 6:09:09 PM      12
7/2/2019 6:15:33 PM      12
7/9/2019 6:33:07 PM      12
6/6/2018 6:15:13 PM      12
7/10/2019 6:10:06 PM     12
8/26/2019 7:08:51 PM     11
8/15/2018 6:52:19 PM     11
8/27/2018 6:01:44 PM     11
6/18/2018 5:15:34 PM     11
8/1/2019 5:27:11 PM      11
8/6/2019 6:29:59 PM      11
8/13/2019 5:38:56 PM     11
6/21/2019 5:32:56 PM     11
8/21/2018 6:11:03 PM     11
6/24/2019 6:19:08 PM     11
7/9/2018 6:34:19 PM      11
6/14/2018 8:51:42 AM     11
8/6/2019 5:38:11 PM      11
6/5/2018 9:17:24 AM      11
6/26/2019 8:44:00 AM     11
6/3/2019 6:30:03 PM      11
6/4/2019 5:40:43 PM      11
7/10/2019 6:53:40 PM     11
6/18/2018 6:39:02 AM     11
7/30/2019 6:31:31 PM     11
8/16/2018 5:38:22 PM     11
6/11/2019 6:02:07 PM     11
8/13/2019 5:31:01 PM     11
                         ..
8/21/2018 4:32:39 PM      1
8/5/2018 10:27:02 PM      1
8/26/2019 6:12:49 PM      1
8/2/2018 10:40:25 AM      1
8/11/2018 9:27:57 PM      1
6/8/2019 9:56:25 AM       1
6/28/2019 4:23:02 PM      1
8/15/2019 8:55:50 PM      1
7/15/2019 8:00:26 PM      1
7/28/2019 10:27:01 AM     1
8/7/2018 6:06:25 PM       1
7/11/2018 4:36:36 PM      1
8/4/2018 9:04:16 PM       1
8/5/2019 5:55:22 PM       1
7/11/2019 7:26:53 PM      1
7/26/2018 11:29:20 PM     1
7/4/2019 10:10:32 AM      1
7/16/2019 7:37:49 AM      1
6/6/2019 6:10:10 PM       1
6/3/2019 10:46:19 AM      1
8/16/2019 4:12:07 PM      1
6/26/2019 12:36:55 PM     1
8/22/2019 4:18:11 PM      1
6/15/2019 9:41:18 PM      1
7/7/2018 7:48:00 PM       1
8/27/2019 12:12:48 AM     1
7/27/2018 12:11:21 AM     1
7/25/2019 10:22:13 PM     1
6/28/2018 7:04:50 PM      1
8/27/2018 12:31:09 PM     1
Name: Starttime, Length: 7314103, dtype: int64

In [14]:
cbsummer['Stoptime'].value_counts()

7/16/2019 6:12:10 PM     14
7/2/2019 6:34:52 PM      13
7/1/2019 9:07:03 AM      12
8/15/2019 5:57:13 PM     12
7/10/2019 6:57:13 PM     12
8/13/2019 6:29:39 PM     12
8/31/2019 1:58:57 PM     12
8/15/2019 6:33:08 PM     11
7/24/2019 6:52:33 PM     11
8/6/2019 7:11:22 PM      11
8/25/2019 2:23:25 PM     11
8/6/2019 6:31:03 PM      11
6/26/2019 6:02:32 PM     11
7/24/2019 5:48:03 PM     11
8/15/2019 9:00:04 AM     11
7/7/2018 5:34:51 PM      11
8/8/2019 6:30:05 PM      11
7/7/2019 4:16:22 PM      11
8/6/2019 5:52:40 PM      11
6/19/2018 6:16:39 PM     11
8/23/2018 6:23:14 PM     11
7/24/2019 6:27:27 PM     11
7/22/2019 5:35:09 PM     11
8/23/2018 9:03:30 AM     11
7/1/2019 7:24:18 PM      11
6/5/2018 6:33:05 PM      11
8/5/2019 6:59:38 PM      11
7/24/2019 6:22:16 PM     11
8/27/2018 6:45:49 PM     11
6/3/2019 6:46:01 PM      11
                         ..
7/26/2018 7:16:23 PM      1
7/18/2019 7:27:24 PM      1
6/14/2019 10:52:22 PM     1
6/7/2019 11:26:04 AM      1
7/27/2018 8:28:10 AM      1
8/7/2019 8:38:58 AM       1
8/7/2018 9:36:41 AM       1
8/29/2018 7:12:15 AM      1
8/16/2018 8:59:31 PM      1
7/5/2019 10:49:53 PM      1
7/4/2018 12:24:46 PM      1
6/30/2019 10:11:22 AM     1
7/14/2018 4:20:00 AM      1
6/15/2019 9:33:30 PM      1
7/12/2018 3:45:13 PM      1
7/16/2019 10:35:47 AM     1
8/10/2019 10:48:03 PM     1
8/30/2018 4:48:23 PM      1
8/4/2019 11:50:50 PM      1
7/7/2018 7:14:33 AM       1
8/27/2018 10:39:05 AM     1
8/21/2018 12:50:26 PM     1
8/31/2019 8:07:40 PM      1
7/31/2018 12:07:32 PM     1
8/31/2018 1:24:25 PM      1
6/5/2019 5:40:01 AM       1
8/31/2019 3:02:52 PM      1
7/11/2018 1:31:27 PM      1
7/19/2019 4:18:40 PM      1
7/14/2019 6:33:32 AM      1
Name: Stoptime, Length: 7333033, dtype: int64

In [15]:
cbsummer['Tripduration'].value_counts()

350       13515
365       13510
361       13497
349       13496
360       13482
336       13478
362       13462
346       13461
378       13457
357       13453
370       13449
348       13441
374       13433
345       13423
319       13420
364       13413
353       13408
332       13400
373       13397
371       13392
368       13378
321       13374
328       13369
379       13366
356       13365
355       13361
344       13360
347       13353
358       13349
303       13346
          ...
43698         1
19111         1
84614         1
871199        1
94787         1
207571        1
23022         1
45690         1
51887         1
60075         1
313903        1
129497        1
60072         1
76432         1
19133         1
27321         1
29283         1
424230        1
19130         1
10934         1
31208         1
166627        1
19131         1
10935         1
88515         1
22003         1
29280         1
47615         1
35489         1
35344         1
Name: Tripduration, Length: 27593, dtype: int64

In [ ]:
cbsummer['Number of Records'].value_counts()

In [16]:
cbsummer.describe()

,Number of Records,Bikeid,Birth Year,End Station Id,End Station Latitude,End Station Longitude,Gender,Start Station Id,Start Station Latitude,Start Station Longitude,Tripduration
count,12493032.0,1.249303e+07,1.249303e+07,1.249303e+07,1.249303e+07,1.249303e+07,1.249303e+07,1.249303e+07,1.249303e+07,1.249303e+07,1.249303e+07
mean,1.0,2.760020e+04,1.979994e+03,1.642300e+03,4.073660e+01,-7.398233e+01,1.146244e+00,1.647245e+03,4.073695e+01,-7.398219e+01,1.080348e+03
std,0.0,6.957555e+03,1.189078e+01,1.462684e+03,3.119239e-02,2.010361e-02,5.683600e-01,1.462541e+03,3.126226e-02,2.000680e-02,1.544249e+04
min,1.0,1.452900e+04,1.885000e+03,7.200000e+01,4.064654e+01,-7.408364e+01,0.000000e+00,7.200000e+01,4.064654e+01,-7.402535e+01,6.100000e+01
25%,1.0,2.095200e+04,1.969000e+03,3.800000e+02,4.071689e+01,-7.399601e+01,1.000000e+00,3.820000e+02,4.071723e+01,-7.399596e+01,3.850000e+02
50%,1.0,2.870400e+04,1.983000e+03,5.090000e+02,4.073653e+01,-7.398584e+01,1.000000e+00,5.130000e+02,4.073705e+01,-7.398562e+01,6.620000e+02
75%,1.0,3.266100e+04,1.990000e+03,3.282000e+03,4.075725e+01,-7.397121e+01,1.000000e+00,3.263000e+03,4.075763e+01,-7.397121e+01,1.165000e+03
max,1.0,4.002500e+04,2.003000e+03,3.810000e+03,4.550636e+01,-7.356891e+01,2.000000e+00,3.810000e+03,4.550636e+01,-7.356891e+01,7.571338e+06

In [17]:
cbsummer.to_csv("cbSummer.csv", index=False, header=True)